body {
	background: gray;
}

/* This makes sure the nav bar sticks as the screen scrolls. */
nav {
	width: 100%;
	position: fixed !important;
	z-index: 9999;
}

.dropdown-menu a:hover {
	background-color: #212529;
}

li {
	list-style-type: none;
}

li a, a{
	color: white;
}

p {
	font-size: 18px;
	margin-top: 5px;
	margin-bottom: 5px;
}